.glava,
.odeljak,
.clan,
h2 {
    text-align: center;
}

.stav {
    padding-left: 4em;
    text-align: left;
}

.tacka {
    padding-left: 4em;
    text-align: left;
}

.alineja {
    padding-left: 8em;
    text-align: left;
}