cc.sh.300.bin.gz
cc.sh.300.bin
.idea/
connector/__pycache__/
connector/__pycache__/*
Akoma/named_enitity_recognition/glove.6B
Akoma/named_enitity_recognition/bert/bert_embeddings.csv
Akoma/data/ner/neuralNetworkModel1.h5